.calendar {
    height: 15px;
}

.ag-theme-material {
    --ag-grid-size: 7px;
    height: 70ch;
    width: 90%;
    margin: auto;
}

.chart {
    margin: auto;
    width: 800px;
    height: fit-content;
    padding-top: 5%;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}